body {
  background-color: rgba(246, 234, 213, 1);
}

h1 { 
  font-family: "Crimson Text"; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 27px; 
}

.center {
  position: relative;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
}
