body {
  background-color: rgba(246, 234, 213, 1);
}

h1 { 
  font-family: "Crimson Text"; 
  font-size: 48px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 54px; 
}

.center {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
}
